#about
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    /* height: 100vh; */
}

#about img
{
    width: 400px;
    min-height: 400px;
    border-radius: 50%;
    margin-top: -80px;
}

#about p
{
   text-align: center;
}

#about .about-box
{
    width: 100%;
    min-height: 50px;
    /* border: 2px solid #000; */
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* #about .about-box .about-box1,.about-box2
{
    width: 50%;
    height: 50%;
} */

#about .about-box button
{
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: #333;
    border: none;
    cursor: pointer;
}

#about .about-box .about-box1,.about-box2
{
    position: relative;
    /* border: 2px solid #333; */
    height: 0;
}

.about-box1 p,.about-box2 p
{
    display: none;
    margin-top: 20px;
}

/* #about .about-box #button1
{
    display: block;
} */

#about .about-box1:hover .hidden-text1,.about-box2:hover .hidden-text2
{
    display: block; 
    position: absolute;
    overflow: visible;
    /* border: 2px solid #333; */
    min-width: 300px;
    left: -100px;
}